<div id="container">


<header>
    <nav class="navbar">
    
        <div class ="navbar-logo">
            <a href="#"><%= image_tag 'logo.png' %></a>
        </div>

        <div class ="navbar-right">
            <a href="#">Miaou</a>
            <a href="#">Meow</a>
            <a href="#">Mrew</a>

            <div class="dropdown">
                <button class="dropbtn avatar"><%= image_tag 'avatar.jpg' %></button>
                <div class="dropdown-content">
                    <a href="#">Mraow</a>
                    <a href="#">Miou</a>
                    <a href="#">Groar</a>
                </div>
            </div> 
        </div>       
    </nav>
</header>

    <div class="cadre">
        <h3>Bienvenue, Félix !</h3>
        <p>Eat all the power cords. Reward the chosen human with a slow blink hack, or chase red laser dot but the cat was chasing the mouse or licks your face intently stare at the same spot, sit on the laptop. Chase after silly colored fish toys around the house i like fish or milk the cow.</p> 
        <div class="bas">
        <div class="paws">
            <p>Jokers <%= image_tag 'paw.png' %> <%= image_tag 'paw.png' %> <%= image_tag 'paw.png' %></p>
        </div>
        <div class="moyenne">
            <p>Ta moyenne : 3.861 / cat</p>
        </div>
        </div>
   </div>

    <div class="cardContainer">

        <div class="card">
            <%= image_tag 'playing.jpg' %>
            <p>Freak human out make funny noise mow mow mow mow mow mow success now attack human lick the curtain just to be annoying eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap or intently sniff hand, and ooh, are those your $250 dollar sandals? lemme use that as my litter box chase red laser dot and catty ipsum.</p>
            <p><a class="button" href="#">En savoir plus</a></p>
        </div>

        <div class="card">
            <%= image_tag 'fight.jpg' %>
            <p>Peer out window, chatter at birds, lure them to mouth knock over christmas tree, yet human is washing you why halp oh the horror flee scratch hiss bite but the door is opening! how exciting oh, it's you, meh. Cat slap dog in face pounce on unsuspecting person instantly break out into full speed gallop across the house for no reason. Caticus cuteicus poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls and scratch the box but when owners are asleep, cry for no apparent reason, leave hair everywhere.</p> 
            <p><a class="button" href="#">En savoir plus</a></p>
        </div>

        <div class="card">
            <%= image_tag 'outside.jpg' %>
            <p>Meow for food, then when human fills food dish, take a few bites of food and continue meowing somehow manage to catch a bird but have no idea what to do next, so play with it until it dies of shock so give me some of your food give me some of your food give me some of your food meh, i don't want it but a nice warm laptop for me to sit on. Hunt anything that moves bleghbleghvomit my furball really tie the room together for meow and walk away, thinking longingly about tuna brine yet pee in the shoe what a cat-ass-trophy! yet stare at the wall, play with food and get confused by dust.</p> 
            <p><a class="button" href="#">En savoir plus</a></p>
        </div>

    </div>


    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks">Nos amis : </button>
        <button id="mistigri" class="tablinks" onclick="openCat(event, 'Mistigri')">Mistigri</button>
        <button class="tablinks" onclick="openCat(event, 'Moustache')">Moustache</button>
        <button class="tablinks" onclick="openCat(event, 'Gribouille')">Gribouille</button>
    </div>

    <!-- Tab content -->
    <div id="Mistigri" class="tabcontent">
        <h3>Mistigri</h3>
        <p>Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day tuxedo cats always looking dapper so i am the best and leave hair on owner's clothes for cough hairball, eat toilet paper yet always ensure to lay down in such a manner that tail can lightly brush human's nose scamper. I love cuddles.</p>
        
    </div>

    <div id="Moustache" class="tabcontent">
        <h3>Moustache</h3>
        <p> I like big cats and i can not lie fish i must find my red catnip fishy fish, so hiding behind the couch until lured out by a feathery toy but furrier and even more furrier hairball. Prance along on top of the garden fence, annoy the neighbor's dog and make it bark i like big cats and i can not lie sit on the laptop paw at your fat belly. </p> 
    </div>

    <div id="Gribouille" class="tabcontent">
        <h3>Gribouille</h3>
        <p>Stretch kitty kitty eat all the power cords. Annoy the old grumpy cat, start a fight and then retreat to wash when i lose scratch at fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on owners food yet try to hold own back foot to clean it but foot reflexively kicks you in face,</p>
    </div>

<footer>
    <nav class="bottom">
    <p>© 2018, Made with ❤ in France.</p>
    </nav>
</footer>

</div>
